node_modules/
.env
dist/
dist-cjs/
dist-esm/
.cache/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
*.jks
*.p12
*.key
*.mobileprovision
.serverless/
.DS_Store
.idea/
.vscode/
package-lock.json
yarn.lock
